* {
  box-sizing: border-box;
}

body {
  background-color: hsl(40, 91%, 75%);
}

h1 {
  font-weight: 600;
  font-family: "Helvetica";
}

table {
  border: 5px solid black;
}

#mainbox {
  width: 50%;
  border: 3px solid hsla(255, 91%, 75%, 0.9);
  border-radius: 5px;
  padding: 15px, 30px;
  margin: auto;
}

.main h2 {
  margin: auto;
  text-align: center;
}

div .dog-table {
  background-color: #fff;
  border-color: hsl(255, 91%, 75%);
  border-radius: 10px;
}

th {
  border: 1px solid black;
  padding: 5px 10px;
}

td {
  border: 1px dotted black;
  padding: 5px 10px;
}

th,
td {
  text-align: center;
}

#header {
  text-align: center;
}

#mops0 {
  position: relative;
  top: 50px;
  float: bottom;
  margin: 10px 10px;
}

#made-possible {
  float: top;
}
